.pytest_cache/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore these dirs.
private/
docs/
secrets/
instance/
node_modules/
build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Useless directories
venv/
__pycache__/
*egg-info/

# Private files.
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database.
*.db

# Compiled python files
*.pyc

# Batch & script files.
*.bat

# Log files
*.log

# Pipfile.
Pipfile.lock

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
