# Ignore these dirs.
private/
docs/

# Useless directories
venv/
__pycache__/
*egg-info/

# Private files.
.env

# Database.
*.db

# Compiled python files
*.pyc

# Batch & script files.
*.bat

# Log files
*.log

# Pipfile.
Pipfile.lock