{% extends "layout.html" %}

{% block title %}Choose Vehicle{% endblock title %}

{% block content %}
<main role = "main" class="container">
	<div class="row">
		<div class="container">
			<div class="col-md-12">
				<article class="media content-section">
					<div class="media-body">
						<form action="" method="POST" novalidate>
							<div class="container">

								<div class="row">
									<div class="col type">
										<p>
											<label for="type">Vehicle Type</label>
										    <select name="type" class="form-control" id="type">
										    	<option value="none" disabled>Please choose a vehicle type...</option>

										    	<option value="car">Car</option>
										    	<option value="bike" text="Car">Bike</option>
										    </select>
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col type">
										<p id="makecontainer" class="start-hidden">
											<label for="make">Make</label>
										    <select name="make" class="form-control" id="make">
										    </select>
										</p>
									</div>
								</div>

							<div class="row">
								<div class="col type">
									<p id="modelcontainer" class="start-hidden">
										<label for="model">Model</label>
									    <select name="model" class="form-control" id="model">
									    </select>
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col type">
									<p id="badgecontainer" class="start-hidden">
										<label for="badge">Badge</label>
									    <select name="badge" class="form-control" id="badge">
									    </select>
									</p>
								</div>
							</div>	

							<!-- Insert a submit button here. -->
						</div>
					</form>
					</div>
				</article>
			</div>
		</div>
	</div>
</main>
{% endblock content %}

{% block scripts %}
	<script src="{{ url_for('static', filename='vehicles.js') }}"></script>
{% endblock scripts %}